* {
    box-sizing: border-box;
}
.menu-button {
    position: relative;
    padding: 16px;
    display: inline-block;
    background-color: darkgreen;
    opacity: 0.8;
    font-size: 16px;
    color: white;
    cursor: pointer;

}
.menu-button:hover {
  opacity: 1;
}
.dropdown {
    margin: 16px;
  }
.menu-list {
  display: none;
}
.menu-list {
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: lightcyan;
  color: black;
  min-width: 120px;
  z-index: 1;
  list-style-type: none;
  box-shadow: 0px 4px 8px 0px rgb(0, 0, 0, 0.2);
}

.menu-list:hover {
  background-color: ghostwhite;
}
.menu-item {
  padding: 16px;
}
.dropdown:hover .menu-list {
  display: block;
}
