* {
  box-sizing: border-box;
}
main {
  display: flex;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #555;
  font-size: 16px;
}
.header {
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: center;
  color: white;
  background-image: linear-gradient(60deg, red, orange);
}
.footer {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  background-color: #e5e5e5;
  padding: 0.5em;
}
.navigation,
.news {
  justify-content: center;
  padding: 0.5em;
  width: 20%;
  min-height: 100vh;
}
.section {
  justify-content: center;
  padding: 0.5em;
  width: 60%;
  font-size: 1.25em;
}
.units-list {
  line-height: 1.75em;
}
.section__header {
  font-size: 5vw;
  text-align: center;
  margin-top: 40px;
}
.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}
.nav-list {
  padding: 0;
  list-style-type: none;
  
}
.nav-list-item {
  background-color: #808080;
  max-width: 100%;
  height: 2em;
  margin-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-list-link {
  color: white;
  text-decoration: none;
  line-height: 2em; 
}
