header {
  background-color: darkturquoise;
  height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
}
nav {
  height: 40px;
  list-style-type: none;
}
.nav-item {
  margin-right: 16px;
  height: 40px;
  color: white;
  float: left;
  list-style-type: none;
  line-height: 50%;
}

.content {
  height: 5000px;
  background-color: beige;
}
.head {
  height: 200px;
  width: 200px;
  background-color: aquamarine;
  margin-left: calc(43%);
  margin-top: calc(43%);
}

.ear_right {
  height: 60px;
  width: 40px;
  background-color: brown;
  position: relative;
  bottom: 60px;
  right: 40px;
}
.ear_left {
  height: 60px;
  width: 40px;
  background-color: brown;
  position: relative;
  bottom: 120px;
  left: 200px;
}
.eye_right {
  border-radius: 30px;
  background-color: grey;
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 40px;
  left: 120px;
}
.eye_left {
  border-radius: 30px;
  background-color: grey;
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 70px;
  left: 40px;
}
