header {
  background-color: darkturquoise;
  height: 40px;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.content {
  height: 5000px;
  background-color: beige;
}
.nav-list {
  margin: 0;
 line-height: 40px;
  list-style-type: none;
}
.nav-item {
  margin-left: 16px;
  color: white;
  float: left;
}
.head {
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: aquamarine;
  top: calc(40%);
  left: calc(40%);
}

.ear_right {
  position: absolute;
  height: 60px;
  width: 40px;
  background-color: brown;
  top: -60px; 
  right: 200px;

}
.ear_left {
  position: absolute;
  height: 60px;
  width: 40px;
  background-color: brown;
  top: -60px; 
  right: -40px;
}
 
.eye_right {
  position: absolute;
  border-radius: 30px;
  background-color: grey;
  width: 30px;
  height: 30px;
  right: 40px;
  bottom: 100px;
}
.eye_left {
  position: absolute;
  border-radius: 30px;
  background-color: grey;
  width: 30px;
  height: 30px;
  bottom: 100px;
  left: 40px;
}
