*  {
    box-sizing: border-box;
}
.header {
    height: 40px;
    background-color: yellow;
    display: flex;
    align-items: center;
}
aside {
    background-color: green;
    width: 200px;
}
section {
    display: flex;
    background-color: pink;
    align-items: center;

}
footer {
    height: 40px;
    background-color: green;
    display: flex;
    
}
.navigation {
    margin: 0;
    padding: 0;
    list-style-type: none; 
    display: flex;
    
}
.navigation__item {
    margin-right: 16px;
}
.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex-grow: 1;
    display: flex;
}
.list {
    display: flex;
    flex-grow: 1;
    background-color: pink;
    justify-content: center;
    align-items: center;
}

.news {
     width: 200px;
     background-color: grey;
     
}
.news_item {
    list-style-type: none;
    margin-bottom: 16px;


}
span {
    margin: auto;
}
.tema {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 16px;
}