* {
    box-sizing: border-box;
}
   .spinner {
    display: flex;
    height: 100vh;
}

.circle {
    position: absolute;
    left:calc(100vw /  2 - 25px);
    top: calc(100vh / 2 - 68px);
    margin-bottom: 8px;
    height: 50px;
    width: 50px;
    border: 4px solid lightgrey;
    border-top: 4px solid black;
    border-radius: 50px;
    animation: spin 2s;
    animation-iteration-count: infinite;
}
.circle:nth-child(1) {
      animation-timing-function: linear;
}

.spinner-text {
    margin: auto;
    font-family: monospace;
    font-size: 16px;
    text-transform: uppercase;
    animation: blinking 2s;
    animation-iteration-count: infinite;
    
}

.spinner-text:nth-child(1) {
    animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }

}

@keyframes blinking {
    0% {
        opacity: 0;
    }
    50% {
         opacity: 1;
    }
    100% {
        opacity: 0;
    }

}